*.shp filter=lfs diff=lfs merge=lfs -text
*.shp.xml filter=lfs diff=lfs merge=lfs -text
*.shx filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
schools.json filter=lfs diff=lfs merge=lfs -text
